<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056806671336-1e0e6rkd3594jrip88ktl6vs0bj4k1re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056806671336-1e0e6rkd3594jrip88ktl6vs0bj4k1re</string>
	<key>API_KEY</key>
	<string>AIzaSyAlFFAj-vL6Yp0JfqrcewWA9Bo3ss_nt0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1056806671336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adnannmuratovic.FoodPinApp</string>
	<key>PROJECT_ID</key>
	<string>foodpin-72ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>foodpin-72ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056806671336:ios:24c2e3d8154c2c7653ca5d</string>
</dict>
</plist>